:root{
	--orange:#ff7800;
	--black: #130f40;
	--light-color:#666;
}
header{
  position: relative;
  background: yellow;
  padding: 0;
  border-bottom: 1px solid green;
}
a{
  color: black;

}
a:hover{
  background: blue;
  color: yellow;
  cursor: pointer;
}
.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a.logo{
  font-weight: bold;
  font-size: large;
  padding: 1rem;

}
ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}
ul a{
  padding: 1rem;
  display: inline-block;
}
a span{
  background: red;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}
.menu-container{
  position: relative;
}
button{
  background: green;
  color: azure;
  margin-top: 15px;

}
.menu{
  position: absolute;
  z-index: 1;
  background: white;
  display: none;
}
.menu-container:hover .menu{
  display: block;

}
.menu a{
  width: 100%;
  min-width: 8rem;
}
