div{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
input{
  border-radius: 10rem 0 0 10rem;
  border: 1px solid black;
  height:3rem;
  width: 20rem;
  background-color: #ffffff;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

div button{
  color: grey;
  height: 3rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  border: none;
  background-color: blue;
  color:white;
  outline: none;
}
div button:hover{
  opacity: 0.6;
  cursor:pointer;
}
